body {
    background-color: #5e5e5e;
    color: #333;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
	background-color: #272727;
	color: #ffffff;
	padding: 20px 20px 10px 20px;
}

nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

nav ul li {
	display: inline-block;
	margin-right: 20px;
}

nav ul li a {
	color: #fafafa;
	text-decoration: none;
}
.video-conteiner video{
    width: 100%;
    aspect-ratio: 16/9;
    border-radius: 10px;
}
.video-conteiner{
    margin-top: 2rem;
    margin-left: 5rem;
    margin-right: 5rem;
}
.about{
    margin-top: 2rem;
    margin-left: 5rem;
    margin-right: 5rem;
    color: #ffffff;
    font-size: 25px;
}
.about h2 {
    display: inline-flex;
    font-size: 1.4rem;
    font-weight: 4px solid var(--main color);
    font-size: 50px;
}
.screenshots h2 {
    display: inline-flex;
    font-size: 1.4rem;
    margin-left: 5rem;
    font-weight: 4px solid var(--main color);
    font-size: 50px;
    color: #fafafa;
}
.screenshots-content{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, auto));
    gap: 10px;
    justify-content: center;
    max-width: 800px;
    margin: auto;
    width: 100%;
}
.screenshots-content img{
    width: 100%;
    height: 440px;
    object-fit: cover;
}
.comprar{
    max-width: 800px;
    margin: auto;
    width: 100%;
    display: grid;
    justify-content: right;
    margin-top: 2rem;
}
.comprar h2{
    text-align: center;
    font-size: 1.4rem;
    font-weight: 500;
    margin: 1.6rem 0;
}
.comprar-link{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin-bottom: 2rem;
}
.comprar-link a{
    text-align: center;
    background: #79b521;
    padding: 12px 20px;
    color: #ffffff;
    letter-spacing: 1px;
    font-weight: 500;
}
.comprar-link a:hover{
    background: var(--light-color);
    transition: 0.3s all linear;
}

*{
	
    font-family: 'poppins', sans-serif;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    scroll-padding-top: 2rem;
}

:root{
    --main-color:greenyellow;
    --dark-color:black;
    --light-color:#5e5e5e;
    --text-color:white;
}
img{
    width: 100%;
}
body{
    background: var(--light-color);
    color: var(--text-color);
}

header {
	background-color: #272727;
	color: #ffffff;
	padding: 20px 20px 10px 20px;
}

nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

nav ul li {
	display: inline-block;
	margin-right: 20px;
}

nav ul li a {
	color: #fafafa;
	text-decoration: none;
}

main {
	margin: 20px;
}

section {
	margin-bottom: 40px;
}

section h2 {
	color: #333;
	margin-bottom: 20px;
}

section ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

section li {
	margin-bottom: 20px;
}

section li a {
	color: #333;
	text-decoration: none;
}

section li a:hover {
	color: #6fa5f5;
}

section img {
	display: block;
	margin-bottom: 10px;
}

button {
	background-color: #6fa5f5;
	border: none;
	color: #fff;
	cursor: pointer;
	font-size: 18px;
	padding: 10px 20px;
}

button:hover {
	background-color: black}

p{
    margin-top: 200px;
}   

h2{
    margin-top: 200px;
}
