body {
	background-color: #5e5e5e;
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
}
/* Header */


/* Slider */
.slider-juegos{
	margin-left: 30%;
	width: 600;
	height: 400;
	border-left: 100;
	border-right: 100;
	border-color: black;
	overflow: hidden;
}

.slider-juegos ul{
	display: flex;
	animation: cambio-imagen 20s infinite alternate linear;
	width: 400%;
	list-style: none;
	padding: 0;
}

.slider-juegos il{
	width: 100%;
}

.slider-juegos img{
	width: 600;
	height: 400;
}

@keyframes cambio-imagen{
	0%{margin-left: 0;}
	20%{margin-left: 0;}

	25%{margin-left: -100%;}
	45%{margin-left: -100%;}

	50%{margin-left: -200%;}
	70%{margin-left: -200%;}

	75%{margin-left: -300%;}
	100%{margin-left: -300%;}
}

/* Header */
.navbar{
	background-color:#333;
}

.navbar-brand ul{
	list-style: none; 
	padding: 0; 
	display: inline;

}
.navbar-toggler-icon{
	color: greenyellow;
}

.collapse{
	align-items: center;
	justify-content: space-between;
}

.barra-de-opciones{
	margin-left: 25%;
	margin-top: -30px;
	margin-bottom: 50px;
	overflow: hidden;
}

.barra-de-opciones li{
	display: inline;
}

.nav-item a:hover{
	color: greenyellow;
}


.nav-item button{
	margin: 10px;
	background-color: greenyellow;
	color: black;
	cursor: pointer;
	font-size: 18px;
	border: none;
	border-radius: 5%;
	padding: 0;
	width: 115;
	height: 40;
}

.nav-item button:hover{
	background-color: white;
	color: black;
}

.nav-item a{
	color: white;
}
